apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.seaweedfs.secretName }}
  namespace: {{ .Values.global.namespace }}
  labels:
    app.kubernetes.io/name: tcfs
    app.kubernetes.io/component: storage
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    helm.sh/chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
type: Opaque
data:
  {{- if .Values.seaweedfs.accessKeyId }}
  AWS_ACCESS_KEY_ID: {{ .Values.seaweedfs.accessKeyId | b64enc | quote }}
  {{- end }}
  {{- if .Values.seaweedfs.secretAccessKey }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.seaweedfs.secretAccessKey | b64enc | quote }}
  {{- end }}
stringData:
  SEAWEEDFS_ENDPOINT: {{ .Values.global.seaweedfsEndpoint | quote }}
